

{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Erreur !</h4>
            <p>Il y a eu un problème lors de l'envoi de votre demande.</p>
            <hr>
            <p class="mb-0">Veuillez réessayer plus tard ou contactez l'administrateur du site.</p>
        </div>
    </div>
</section>

{% endblock %}

