

{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Succès !</h4>
            <p>Votre demande a été envoyée avec succès.</p>
            <hr>
            <p class="mb-0">Merci de nous avoir contacté. Nous vous répondrons dès que possible.</p>
        </div>  
    </div>
</section>

{% endblock %}

